/* 共通部分 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px 0;
  background-color: #ff8b20;
}
.form {
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px;
  margin: 10px;
}
/* プルダウンリストのスタイル */
select {
  width: 8rem;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

select:focus {
  outline: none;
  border: 1px solid #666;
}

/* ボタンのスタイル */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  background-color: #ff8b20;
  color: white;
  border: none;
  border-radius: 50rem;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.button:hover {
  opacity: 0.5;
}
.back-button {
  background-color: #6c757d;
}
.delete-button {
  background-color: #ad0c00;
}
.delete-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* ヘッダー */
.header {
  background-color: #ff8b20;
  margin-left: 10px;
  margin-bottom: 10px;
}
.logo-container {
  background-color: #fff;
  border-radius: 0.8rem;
  max-width: 40px;
  max-height: 40px;
}
.link-container {
  display: flex;
  align-items: center; /* 画像とテキストを垂直方向に中央揃え */
  text-decoration: none; /* aタグの下線を消す */
  width: fit-content;
}
.link-container img {
  width: 40px;
  height: 40px;
}
.link-container span{
  color: #fff;
  font-size: 1.5rem;
  padding: 5px;
  font-weight: bold;
}

/* フッター */
.footer {
  background-color: #ff8b20;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

/* ------------------------------------------------------- */
/* ログイン(トップ)画面 */
.top-container {
  background-color: #fff;
  padding: 0;
  margin: 0;
  background-image: url(../image/top-background.png);
  background-size: cover; /* 画像を表示領域全体に拡大・縮小 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-size: cover;
}
.top-upside-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}
.ad-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 横方向に中央寄せ */
  align-items: center; /* 縦方向に中央寄せ */
  min-height: 500px;
}
.top-text-title {
  color: #111;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 2rem;
  margin-top: 10px;
  font-weight: bold;
}
.top-text-description {
  color: #111;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px); /* 下側からフェードイン */
  animation: fadeIn 2s forwards; /* アニメーション名、時間、fill-mode */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container {
  margin: 40px 10px 0;
  padding: 20px 10px; 
  border-radius: 3rem;
  border: 1px solid #ff9933;
  background-color: #ffeedd;
  max-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.login-form p {
  width: fit-content;
}
.login-text {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.login-button-container {
  margin-top: 10px;
  text-align: center;
}
.register {
  font-size: 1rem;
  text-decoration: none;
  margin-right: 20px;
}
.error {
  margin: 0 0 10px;
  color: #fff;
  background-color: #cc3355;
  border: 2px solid #ad0c00;
  border-radius: 1rem;
}
.error p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}

/* ------------------------------------------------------- */
/* アカウント管理 */
/* アカウント登録画面 */
.register-container, 
.account-deleteOK-container {
  background-color: #fff;
  padding: 1rem 0.5rem 2rem;
}
.register-container h1, 
.account-deleteOK-container h1 {
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
}
.register-content, 
.account-deleteOK-content {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.registerNG {
  width: 50%;
  max-width: 400px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerOK, 
.account-deleteOK {
  margin: 0 0 10px;
  color: #fff;
  background-color: #96cc33;
  border: 2px solid #93ad00;
  border-radius: 1rem;
  width: 50%;
  max-width: 400px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerOK p, 
.account-deleteOK p {
  font-size: 0.8rem;
  font-weight: bold;
}

/* ------------------------------------------------------- */
/* マイページ画面 */
.mypage-container {
  background-color: #fff;
  padding: 1rem 0.5rem;
  min-height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.mypage-button-container, 
.mypage-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.toggle-checkbox-delete {
  margin-bottom: 10px;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  padding: 0 0.5rem 0.5rem;
}
.roadmap-list {
  padding: 0 1rem 1rem;
}
.roadmap-headhing {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.col-1 { width: 50%; }
.col-2 { width: 25%; }
.col-3 { width: 25%; }
.roadmap-table {
  margin-top: 10px;
  border: 1px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
.roadmap-table th {
  text-align: left;
}

.roadmap-row {
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}
.roadmap-row:hover {
  background-color: #ff8c2085;
}
.roadmap-row td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  padding: 2px;
  text-align: left;
}

/* ------------------------------------------------------- */
/* ロードマップ新規作成画面 */
.roadmap-new-container {
  position: fixed;
  height: 85vh;
  overflow-y: auto;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 2rem 0.5rem;
}

#roadmap-form input[type="text"] {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px;
  margin-right: 10px;
}
#roadmap-form .create-order {
  width: 2rem;
}
#roadmap-form .create-name {
  width: 10rem;
}

.element-heading {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.parent-heading {
  width: 40%;
  min-width: 390px;
}
.child-heading {
  width: 60%;
  min-width: fit-content;
}

.child-container {
  width: 60%;
  min-width: fit-content;
}

.parent-row,
.child-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.parent-row {
  justify-content: space-between;
}

.parent-input-group,
.child-input-group {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.parent-input-group {
  width: 40%;
  min-width: fit-content;
}

.parent-input-group label,
.child-input-group label {
  margin-right: 5px;
}

.remove-button {
  margin-right: 10px;
  background-color: #ad0c00;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.add-button {
  background-color: #ff8b20;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.remove-button:hover:hover,
.add-button:hover {
  opacity: 0.5;
}

/* ------------------------------------------------------- */
/* ロードマップ表示画面 */
.roadmap-container {
  background-color: #fff;
  padding: 1rem 0.5rem;
  min-height: 600px;
  margin-left: 0;
  margin-right: 0;
}
.roadmap-top-button-container {
  text-align: right;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
.to-mypage, 
.to-register {
  padding: 14px 20px;
}
.roadmap-title-container {
  display: flex;
  justify-content: space-between;
}
.roadmap-info-container {
  justify-content: left;
  flex-wrap: nowrap;
  width: 80%;
}
.roadmap-info-container h1{
  font-size: 1.7rem;
  margin-top: 20px;
  padding: 1px 10px;
/*  width: 500px;*/
  display: inline-block; /* 親要素の幅に応じて折り返す */
  max-width: 100%; /* 親要素の幅を超えないようにする */
  white-space: normal; /* テキストを折り返す */
}
.roadmap-time {
  font-size: 0.8rem;
  min-width: 100px;
  flex-shrink: 0;
}
.add-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; 
  flex-shrink: 0;
  width: 20%;
  min-width: 160px;
  margin-top: 10px;
}
.add-element-button {
  background-color: #ff8b20;
  color: white;
  border: none;
  border-radius: 50rem;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px 10px 0;
  width: 150px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.roadmap-main {
  text-align: center;
  padding: 0 10px;
}

/* 描画エリア */
	svg {
	  margin-top: 20px;
	  border-radius: 3rem;
	  background-color: #ffeeddb9;
	  width: auto;
	  max-width: 900px;
	  height: auto;
	}
    .rectangle-parent-element, 
    .rectangle-child-element {
	  stroke-width: 1; /* 線の太さ */
	  border-radius: 3rem;;
	  cursor: pointer;
	  pointer-events: all;
	  opacity: 1;
  	  transition: opacity 0.3s ease;
	}
    .rectangle-parent-element {
      fill: #ff8b20; /* 長方形の中の色 */
      stroke: #cc5500; /* 線の色 */
	}
    .rectangle-child-element {
      fill: #ffaa77; /* 長方形の中の色 */
      stroke: #cc5500; /* 線の色 */
	}
	.rectangle-parent-element:hovor, 
    .rectangle-child-element:hovor {
	  opacity: 0.5;
	}
	.text {
	  text-anchor : middle; /* テキストを水平方向に中央揃え */
	  font-size: 1rem;
	  fill: #fff;
	  font-weight: bold;
	  cursor: pointer;
	}
	.line {
      stroke: black;
      stroke-width: 2;
    }
    /* ステータスが完了した要素 */
	.rectangle-parent-elementDone, 
    .rectangle-child-elementDone {
	  stroke-width: 1; /* 線の太さ */
	  border-radius: 3rem;;
	  cursor: pointer;
	  pointer-events: all;
	  opacity: 1;
  	  transition: opacity 0.3s ease;
	}
    .rectangle-parent-elementDone {
      fill: #552f0c; /* 長方形の中の色 */
      stroke: #692c00; /* 線の色 */
	}
    .rectangle-child-elementDone {
      fill: #553928; /* 長方形の中の色 */
      stroke: #692c00; /* 線の色 */
	}
	.rectangle-parent-elementDone:hovor, 
    .rectangle-child-elementDone:hovor {
	  opacity: 0.5;
	}
	.textDone {
	  text-anchor : middle; /* テキストを水平方向に中央揃え */
	  font-size: 1rem;
	  fill: #555;
	  font-weight: bold;
	  cursor: pointer;
	}

/* モーダル画面 */
	/* モーダルの初期状態: 非表示 */
    .modal {
      display: none;
    }
    /* モーダルが表示される状態 */
    .modal.is-open {
      display: block;
    }

    /* モーダルスタイル */
    .modal-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }

    .modal-container {
      background: #fff;
      color: #333;
      padding: 20px;
      width: 60%;
      min-width: 450px;
      border-radius: 8px;
      text-align: center;
    }
    .modal-container-delete {
	  background: #fff;
      color: #333;
      padding: 20px;
      width: 50%;
      min-width: 450px;
      border-radius: 8px;
      text-align: center;
	}
    .modal-delete {
	  margin: 20px 0;
	  color: #fff;
	  background-color: #cc3429;
	  border: 2px solid #ad0c00;
	  border-radius: 1rem;
	}
	.modal-footer {
	  margin-top: 10px;
	  display: flex;
      justify-content: center;
	}
	.modal-new-child {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	.modal-new-child label{
		margin-bottom: 10px;
	}
	.element-header {
	  display: flex;
	  justify-content: space-between;
	  text-align: left;
	  border-bottom: 1px solid #000;
	}
	.element-button-container {
	  margin-bottom: 10px;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-end;
	  flex-shrink: 0;
	}
	.modal-element {
	  display: flex;
	  flex-direction: column;
	}
	.element-time {
	  display: flex;
	  justify-content: left;
	  font-size: 0.8rem;
	}
	.element-time p {
	  margin-right: 10px;
	}
	.element-content-upside {
	  display: flex;
	  text-align: left;
	  flex-direction: column;
	  border-bottom: 2px solid #ccc;
  	  padding-bottom: 10px;
	}
	.element-content-upside label {
	  margin-top: 10px;
	  font-weight: 500;
	}
	.element-content-downside {
	  display: flex;
	  text-align: left;
	  flex-direction: column
	}
	.element-content-downside label {
	  margin-top: 10px;
	  font-weight: 600;
	}
	.element-content-downside textarea {
	  resize: none;
	  field-sizing: content; /* コンテンツに基づいてサイズを調整 */
	  overflow-y: auto; /* 縦方向にスクロールバーを表示 */
	  min-width: 100%;
      min-height: 30vh; /* 最小高さ */
      max-height: 30vh;
	}
	.element-content-downside textarea::-webkit-scrollbar {
      width: 8px; /* スクロールバーの幅 */
      height: 8px; /* スクロールバーの高さ */
    }
    .element-content-downside textarea::-webkit-scrollbar-thumb {
      background-color: #ccc; /* スクロールバーの色 */
      border-radius: 4px; /* スクロールバーの丸み */
    }
    .element-content-downside textarea::-webkit-scrollbar-track {
      background-color: #f0f0f0; /* スクロールバーの背景色 */
      border-radius: 4px; /* スクロールバーの背景の丸み */
    }
	.element-textarea-container {
	  padding: 10px;
	  border: 1px solid #ccc;
	  border-radius: 1rem;
	  min-width: 100%;
	}
	.element-title {
	  margin-top: 10px;
	  padding: 4px;
	  font-size: 1.2rem;
	  font-weight: 600;
	  flex-grow: 1; /* 余白スペースを全て占有 */
	  min-height: 1lh;
	  field-sizing: content;
	  resize: none;
	}
/* ------------------------------------------------------------------------------------ */
/* スマホ用スタイル */
@media screen and (max-width: 768px) {
	/* -------------------------------- */
	/* 共通部分 */
	.form {
	  background-color: white;
	  border: 1px solid #000;
	  border-radius: 5px;
	  padding: 4px;
	  margin: 10px;
	  font-size: 0.8rem;
	}
	select {
	  width: 6rem;
	  padding: 4px;
	  border: 1px solid #000;
	  border-radius: 5px;
	  font-size: 0.8rem;
	  cursor: pointer;
	  margin-right: 10px;
	}
	label, a, input,  p,  button{
	  font-size: 0.8rem;
	}
	
	/* トップ画面(ログイン画面) */
	.top-upside-container {
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  padding: 20px 10px;
	}
	.login-form {
	  text-align: center;
	}
	.ad-container {
	  display: flex;
	  flex-direction: column;
	  justify-content: center; /* 横方向に中央寄せ */
	  align-items: center; /* 縦方向に中央寄せ */
	  min-height: 250px;
	}
	.login-container {
	  margin: 40px 10px 40px;
	  padding: 20px 10px; 
	  border-radius: 3rem;
	  border: 1px solid #ff9933;
	  background-color: #ffeedd;
	  max-height: 370px;
	  width: 80%;
	  max-width: 300px;
	}
	.top-button {
	  margin-bottom: 10px;
	  flex-wrap: nowrap;
	}
	.top-text-title {
	  color: #111;
	  background-color: rgba(255, 255, 255, 0.3);
	  font-size: clamp(1rem, 5vw, 2rem); /* フォントサイズの最小値を1rem、最大値を2remに、画面幅の5%を基準値とする */
	  margin-top: 10px;
	  font-weight: bold;
	  white-space: nowrap; /* テキストを強制的に1行に表示 */
	}
	.top-text-description {
	  color: #111;
	  background-color: rgba(255, 255, 255, 0.3);
	  font-size: clamp(0.5rem, 5vw, 1.5rem);
	  margin-top: 10px;
	  font-weight: bold;
	  white-space: nowrap;
	}
	.login-button-container {
	  margin-top: 10px;
	  text-align: center;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	}
	.to-register {
		padding: 10px 20px;
		margin-bottom: 10px;
	}
	/* -------------------------------- */
	/* マイページ画面 */
	.mypage-button-container {
	  margin-left: 0;
  	  margin-right: 0;
	}
	.mypage-button {
	  margin-top: 10px;
	}
	.mypage-button-inner-container {
	  display: flex;
	  flex-direction: column;
	}
	/* -------------------------------- */
	/* ロードマップ画面 */
	.modal-container {
      background: #fff;
      color: #333;
      padding: 20px;
      width: 60%;
      min-width: 300px;
      border-radius: 8px;
      text-align: center;
    }
    .element-header {
	  display: flex;
	  flex-direction: column;
	  text-align: left;
	  justify-content: flex-end;
	  text-align: left;
	  border-bottom: 1px solid #000;
	}
	.element-button-container {
	  margin: 0;
	  padding: 5px;
	  display: flex;
	  justify-content: flex-start;
	  align-items: left;
	  flex-shrink: 0;
	}
	.element-delete-button {
	  margin-left: 0;
	  width: 80px;
	  padding: 5px;
	  font-size: 0.7rem;
	}
	.element-time {
	  display: flex;
	  flex-direction: column;
	  align-items: flex-start;
	  justify-content: left;
	  font-size: 0.8rem;
	}
	.element-content-upside label {
	  font-size: 0.8rem;
	  margin-top: 10px;
	  font-weight: 500;
	}
	.element-textarea-container {
	  font-size: 0.8rem;
	  padding: 10px;
	  border: 1px solid #ccc;
	  border-radius: 1rem;
	  min-width: 100%;
	}
}
