/* 共通部分 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ff8b20;
}
.form {
  background-color: white;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px;
  margin: 10px;
}
/* プルダウンリストのスタイル */
select {
  width: 8rem;
  padding: 4px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

select:focus {
  outline: none;
  border: 1px solid #666;
}

/* ボタンのスタイル */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  background-color: #ff8b20;
  color: white;
  border: none;
  border-radius: 50rem;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.button:hover {
  opacity: 0.5;
}
.back-button {
  background-color: #6c757d;
}
.delete-button {
  background-color: #ad0c00;
}

/* ヘッダー */
.header {
  background-color: #ff8b20;
  margin-bottom: 10px;
}
.logo-container {
  background-color: #fff;
  border-radius: 1rem;
  max-width: 40px;
  max-height: 40px;
}
.logo-container img {
  max-width: 100%;
  max-height: auto;
}

/* フッター */
.footer {
  background-color: #ff8b20;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

/* ------------------------------------------------------- */
/* ログイン(トップ)画面 */
.top-container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem 0.5rem;
  border-radius: 3rem;
}
.ad-container {
  min-height: 500px;
}
.login-container {
  margin: 40px 10px 0;
  padding: 20px 10px; 
  border-radius: 3rem;
  border: 1px solid #ff8822;
  background-color: #ffeedd;
  max-height: 330px;
}
.login-container form {
  margin-top: 20px;
}
.login-container p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-button {
  margin-top: 20px;
  text-align: center;
}

/* ------------------------------------------------------- */
/* マイページ画面 */
.mypage-container {
  background-color: #fff;
  padding: 1rem 0.5rem;
  border-radius: 3rem;
  min-height: 600px;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
}
.roadmap-list {
  padding: 0 1rem 1rem;
}
.roadmap-headhing {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.col-1 { width: 50%; }
.col-2 { width: 25%; }
.col-3 { width: 25%; }
.roadmap-table {
  margin-top: 10px;
  border: 1px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
.roadmap-table th {
  text-align: left;
}

.roadmap-row {
  cursor: pointer;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}
.roadmap-row:hover {
  background-color: #ff8c2085;
}
.roadmap-row td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  padding: 2px;
  text-align: left;
}



/* ------------------------------------------------------- */
/* ロードマップ新規作成画面 */
.roadmap-new-container {
  position: fixed;
  height: 85vh;
  overflow-y: auto;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 2rem 0.5rem;
}

#roadmap-form input[type="text"] {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px;
  margin-right: 10px;
}
#roadmap-form .create-order {
  width: 2rem;
}
#roadmap-form .create-name {
  width: 10rem;
}

.element-heading {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.parent-heading {
  width: 40%;
  min-width: 390px;
}
.child-heading {
  width: 60%;
  min-width: fit-content;
}

.child-container {
  width: 60%;
  min-width: fit-content;
}

.parent-row,
.child-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.parent-row {
  justify-content: space-between;
}

.parent-input-group,
.child-input-group {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.parent-input-group {
  width: 40%;
  min-width: fit-content;
}

.parent-input-group label,
.child-input-group label {
  margin-right: 5px;
}

.remove-button {
  margin-right: 10px;
  background-color: #ad0c00;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.add-button {
  background-color: #ff8b20;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.remove-button:hover:hover,
.add-button:hover {
  opacity: 0.5;
}

/* ------------------------------------------------------- */
/* ロードマップ表示画面 */
.roadmap-container {
  background-color: #fff;
  padding: 1rem 0.5rem;
  border-radius: 3rem;
  min-height: 600px;
}
.roadmap-top-button-container {
  text-align: right;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}
.to-mypage {
  padding: 14px 20px;
}
.roadmap-title-container {
  display: flex;
  justify-content: space-between;
}
.roadmap-info-container {
  justify-content: left;
  flex-wrap: nowrap;
  width: 60%;
}
.roadmap-info-container h1{
  margin-top: 20px;
  padding: 1px 10px;
  width: 500px;
}
.roadmap-time {
  min-width: 100px;
  flex-shrink: 0;
}
.add-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; 
  flex-shrink: 0;
  width: 40%;
  margin-top: 10px;
}
.add-element-button {
  background-color: #ff8b20;
  color: white;
  border: none;
  border-radius: 50rem;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px 10px 0;
  width: 150px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.roadmap-main {
  text-align: center;
}

/* 描画エリア */
	svg {
	  margin-top: 20px;
	  border-radius: 3rem;
	  background-color: #ffeeddb9;
	  width: auto;
	  max-width: 900px;
	  height: auto;
	}
    .rectangle-parent-element, 
    .rectangle-child-element {
	  stroke-width: 1; /* 線の太さ */
	  border-radius: 3rem;;
	  cursor: pointer;
	  pointer-events: all;
	  opacity: 1;
  	  transition: opacity 0.3s ease;
	}
    .rectangle-parent-element {
      fill: #ff8b20; /* 長方形の中の色 */
      stroke: #cc5500; /* 線の色 */
	}
    .rectangle-child-element {
      fill: #ffaa77; /* 長方形の中の色 */
      stroke: #cc5500; /* 線の色 */
	}
	.rectangle-parent-element:hovor, 
    .rectangle-child-element:hovor {
	  opacity: 0.5;
	}
	.text {
	  text-anchor : middle; /* テキストを水平方向に中央揃え */
	  font-size: 1rem;
	  fill: #fff;
	  font-weight: bold;
	  cursor: pointer;
	}
	.line {
      stroke: black;
      stroke-width: 2;
    }


/* モーダル画面 */
	/* モーダルの初期状態: 非表示 */
    .modal {
      display: none;
    }
    /* モーダルが表示される状態 */
    .modal.is-open {
      display: block;
    }

    /* モーダルスタイル */
    .modal-overlay {
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }

    .modal-container {
      background: #fff;
      color: #333;
      padding: 20px;
      width: 60%;
      min-width: 450px;
      border-radius: 8px;
      text-align: center;
    }
    .modal-container-delete {
	  background: #fff;
      color: #333;
      padding: 20px;
      width: 50%;
      min-width: 450px;
      border-radius: 8px;
      text-align: center;
	}
    .modal-delete {
	  margin: 20px 0;
	  color: #fff;
	  background-color: #cc3429;
	  border: 2px solid #ad0c00;
	  border-radius: 1rem;
	}
	.modal-footer {
	  margin-top: 10px;
	  display: flex;
      justify-content: center;
	}
	.modal-new-child {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	}
	.modal-new-child label{
		margin-bottom: 20px;
	}
	.element-header {
	  display: flex;
	  justify-content: space-between;
	  text-align: left;
	  border-bottom: 1px solid #000;
	}
	.element-button-container {
	  margin-bottom: 10px;
	}
	.modal-element {
	  display: flex;
	  flex-direction: column;
	}
	.element-time {
	  display: flex;
	  justify-content: left;
	  font-size: 0.8rem;
	}
	.element-time p {
	  margin-right: 10px;
	}
	.element-content-upside {
	  display: flex;
	  text-align: left;
	  flex-direction: column;
	  border-bottom: 2px solid #ccc;
  	  padding-bottom: 10px;
	}
	.element-content-upside label {
	  margin-top: 10px;
	  font-weight: 500;
	}
	.element-content-downside {
	  display: flex;
	  text-align: left;
	  flex-direction: column
	}
	.element-content-downside label {
	  margin-top: 10px;
	  font-weight: 600;
	}
	.element-content-downside textarea {
	  resize: none;
	  field-sizing: content; /* コンテンツに基づいてサイズを調整 */
	  overflow-y: auto; /* 縦方向にスクロールバーを表示 */
	  min-width: 100%;
      min-height: 30vh; /* 最小高さ */
      max-height: 30vh;
	}
	.element-content-downside textarea::-webkit-scrollbar {
      width: 8px; /* スクロールバーの幅 */
      height: 8px; /* スクロールバーの高さ */
    }
    .element-content-downside textarea::-webkit-scrollbar-thumb {
      background-color: #ccc; /* スクロールバーの色 */
      border-radius: 4px; /* スクロールバーの丸み */
    }
    .element-content-downside textarea::-webkit-scrollbar-track {
      background-color: #f0f0f0; /* スクロールバーの背景色 */
      border-radius: 4px; /* スクロールバーの背景の丸み */
    }
	.element-textarea-container {
	  padding: 10px;
	  border: 1px solid #ccc;
	  border-radius: 1rem;
	  min-width: 100%;
	}
	.element-title {
	  margin-top: 10px;
	  padding: 4px;
	  font-size: 1.2rem;
	  font-weight: 600;
	  background-color: white;
	}


